footer{
    padding: 0 10%;
    margin-top: 50px;
    background-color: #FF0080;
    height: 300px;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo{
        display: none;
    }
    .list{
        justify-content: space-between;
        height: 80px;
        list-style: none;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        padding: 0;
        li{
            h1,h6,h5{
                margin: 0;
            }
            h6{
                font-size: 6px;
                padding-left: 40px;
            }
            h5{
                font-size: 11px;
            }
        }
        .redes{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
    .dropdown-menu-footer{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        #politicas{
            margin-top: 30% !important;
        }
    }
}
@media screen and (min-width: 768px) {
    footer{
        height: 200px;
        #logo{
            display: block;
        }
        .dropdown-menu-footer{
            flex-direction: row;
            #politicas{
                margin-top: 0 !important;
            }
        }
    }
}